body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #161616;
  }
  
  .container {
    max-width: 550px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #f75e5e;
    box-shadow: #ff0000a1 0px 0px 30px;
    border-radius: 5px;
  }
.container .title{
    color: #f9f9f9;
}

#taskInput{
    height: 30px;
    width: 497px;
    font-size: 19px;
    border-radius: 5px;
}
.search{
position: relative;
}

.search #B-add{
color: #f9f9f9;
font-size: 25px;
position: absolute;
margin-left: 5px;
padding: 5px 10px;
background-color: #b90000;
}


  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #f75e5e;
    border-radius: 5px;
    background-color: #161616;
    color: #f9f9f9;
    font-size: 16px;
  }
  
  li:hover {
    background-color: #a52323;
  }
  
  li button {
    margin-left: 10px;
  }
  